.mainNav{
  background-color: #c3c3c3;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cssimg img{
 float: left;
 width: 100%;
 border: thin solid;
 padding: 0px;
 margin: 0px 30px 0px 0px;
}

.row img{
  width: 100%;
  padding-top: 10%;
}

.container2{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row h2{
  padding-top: 30%;
}
