.version.cartaz /* version checker */
{
	color: #000015;
	background-color: #F439D4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u269
{
	z-index: 3;
	width: 960px;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#menuu352
{
	z-index: 4;
	width: 528px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 512px;
}

#u353
{
	width: 83px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
}

#u356
{
	width: 83px;
	padding-bottom: 2px;
	position: relative;
}

#u356:hover
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u356:active
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u356.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u359
{
	height: 18px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 19px;
}

#u397
{
	width: 88px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u398
{
	width: 88px;
	padding-bottom: 2px;
	position: relative;
}

#u398:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u398:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u398.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u401
{
	height: 18px;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 19px;
}

#u418
{
	width: 135px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u421
{
	width: 135px;
	padding-bottom: 2px;
	position: relative;
}

#u421:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u421:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u421.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u424
{
	height: 18px;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 19px;
}

#u439
{
	width: 118px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u442
{
	width: 118px;
	padding-bottom: 2px;
	position: relative;
}

#u442:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u442:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u442.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u445
{
	height: 18px;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 19px;
}

#u460
{
	width: 96px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u463
{
	width: 96px;
	padding-bottom: 2px;
	position: relative;
}

#u463:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u463:active
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u463.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u466
{
	height: 18px;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	left: 19px;
}

#u483
{
	z-index: 30;
	width: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 119px;
}

#u270-4
{
	z-index: 31;
	position: relative;
	width: 196px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u271
{
	z-index: 35;
	width: 27px;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u268,#u268-bw
{
	z-index: 2;
	min-height: 62px;
}

#u866-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-left: 403px;
	margin-top: 29px;
	position: relative;
}

#pu867
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 29px;
}

#u867
{
	z-index: 46;
	width: 138px;
	height: 138px;
	border-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/robotkoch-u739-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u867:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 138px;
	height: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u868
{
	z-index: 47;
	width: 138px;
	height: 138px;
	border-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
	background: transparent url("../images/woodkid-u742-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u868:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 138px;
	height: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u869
{
	z-index: 48;
	width: 138px;
	height: 138px;
	border-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 482px;
	background: transparent url("../images/the%20xx-u801-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u869:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 138px;
	height: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u867:hover::before,#u868:hover::before,#u869:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 100px;
	box-shadow: inset 0px 0px 100px rgba(0,85,0,0.5), inset 0px 0px 100px rgba(0,85,0,0.5);
}

#u870
{
	z-index: 49;
	width: 138px;
	height: 138px;
	border-color: #000000;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 723px;
	background: transparent url("../images/bastille-u804-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u870:hover
{
	width: 138px;
	height: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bastille-u804-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u870:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 100px;
	box-shadow: none;
}

#pu881-4
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 10px;
}

#u881-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u884-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u887-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 482px;
}

#u890-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 723px;
}

#u555
{
	z-index: 37;
	min-height: 32px;
	padding-bottom: 30px;
}

#u268_align_to_page,#u555_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u558-4
{
	z-index: 38;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 539px;
}

#u555-bw
{
	z-index: 37;
	min-height: 32px;
	margin-top: 100px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

